<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="s.yarlykov.izisandbox">
    <!-- GPS location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" /> <!-- Take and save Photo -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACTION_IMAGE_CAPTURE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recycler_and_swipes.smart_adapter.sand_box.app.SmartAdapterActivity"/>
        <activity android:name=".recycler_and_swipes.smart_adapter_v1.SmartAdapterActivity" />
        <activity android:name=".recycler_and_swipes.grid.GridListActivity" />
        <activity android:name=".matrix.scale_animated.ScaleAnimatedActivity" />
        <activity android:name=".matrix.surface.v02.SmoothDraggingActivity" />
        <activity android:name=".matrix.surface.v01.SurfaceDrawingActivity" />
        <activity android:name=".matrix.avatar_maker.EditorAvatarActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/avatar_path" />
        </provider>

        <activity android:name=".matrix.avatar_maker.FunnyAvatarActivity" />
        <activity android:name=".recycler_and_swipes.infinite_loop.infinite_calendar.InfiniteCalendarActivity" />
        <activity android:name=".recycler_and_swipes.infinite_loop.infinite_02.InfiniteDatePickerActivity" />
        <activity android:name=".recycler_and_swipes.infinite_loop.infinite_01.InfiniteRecyclerActivity" />
        <activity android:name=".places.PlacesAutoCompleteActivity" />
        <activity android:name=".matrix.v2.MatrixActivityV2" />
        <activity
            android:name=".telegram.v2.TelegramActivityV2"
            android:theme="@style/TelegramTheme" />
        <activity android:name=".matrix.v1.MatrixActivityV1" />
        <activity android:name=".recycler_and_swipes.items_animation.layout_animation.RecyclerViewLayoutAnimationActivity" />
        <activity android:name=".recycler_and_swipes.items_animation.item_animators.RecyclerViewItemAnimationActivity" />
        <activity android:name=".time_line.TimeLineActivityEdu" />
        <activity android:name=".time_line.TimeLineActivityPro" />
        <activity android:name=".ui.CustomBottomAppBarActivity" />
        <activity android:name=".transitions.using_scenes.ScenesInsideActivity3" />
        <activity android:name=".telegram.v1.TelegramActivityV1" />
        <activity android:name=".recycler_and_swipes.swipe_5.AccordionSwipeActivity" />
        <activity android:name=".transitions.using_scenes.ScenesInsideActivity2" />
        <activity android:name=".dsl.DslActivity" />
        <activity android:name=".recycler_and_swipes.swipe_4.SwipeAnyWhereActivity" />
        <activity android:name=".recycler_and_swipes.swipe_3.SmartSwipeActivity" />
        <activity android:name=".transitions.using_scenes.ScenesInsideActivity1" />
        <activity android:name=".recycler_and_swipes.swipe_2.SwipeActivitySecond" />
        <activity
            android:name=".recycler_and_swipes.swipe_with_undo.SwipeWithUndoActivity"
            android:label="@string/title_activity_swipe_with_undo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recycler_and_swipes.swipe_1.SwipeActivityFirst" />
        <activity android:name=".theme.ThemeActivity" />
        <activity android:name=".dialogs.DialogsActivity" />
        <activity android:name=".transitions.shared_with_fragments.ActivityWithFragments" />
        <activity
            android:name=".transitions.shared_with_activities.ActivitySharedTo"
            android:theme="@style/AppThemeTransitions" />
        <activity
            android:name=".transitions.shared_with_activities.ActivitySharedFrom"
            android:theme="@style/AppThemeTransitions" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".izilogin.IziLoginActivity" />
        <activity android:name=".navgraph.ActivityGraph1" />
        <activity android:name=".navgraph.ActivityGraph2" />
        <activity android:name=".transitions.using_window.ActivityTo" />
        <activity android:name=".transitions.using_window.ActivityFrom" />
    </application>

</manifest>